<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="css/pintuer.css">
<link rel="stylesheet" href="css/admin.css">
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
</head>
<body>
<form method="post" action="" id="listform">
   <div class="panel admin-panel">
   <div class="panel-head"><strong class="icon-reorder">文件列表</strong></div>
<!--    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" href="editorProject.html" > 中期阶段项目</a> </li>
         </ul>
    </div>-->
    <table class="table table-hover text-center">
      <tr>
        <th>项目编号</th>
        <th>项目名称</th>
        <th>项目负责人</th>
        <th>项目预算</th>
        <th>项目类型</th>
        <th>项目来源</th>
        <th>申请日期</th>
        <th>项目状态</th>
        <th>操作</th>
      </tr>
      
      <volist name="list" id="vo">
        
        <tr>  
          <td>A0001</td>
          <td><font color="#00CC99">地形探测地形探测</font></td>
          <td>张三</td>
          <td>张三</td>
          <td>张三</td>
          <td>张三</td>
          <td>2016-07-01</td>
          <td>中期通过</td>
          <td><div class="button-group"> <a class="button border-main" href="ProjectProcess.html" style="padding: 4px 8px;">项目过程</a> 
        </tr>
           
   		 <tr>
          <td>A0001</td>
          <td><font color="#00CC99">地形探测地形探测</font></td>
          <td>张三</td>
          <td>张三</td>
          <td>张三</td>
          <td>张三</td>
          <td>2016-07-01</td>
          <td>中期审核</td>
          <td><div class="button-group"> <a class="button border-main" href="ProjectProcess.html" style="padding: 4px 8px;">项目过程</a> 
   		 </tr>
         <tr>
          <td>A0001</td>
          <td><font color="#00CC99">地形探测地形探测</font></td>
          <td>张三</td>
          <td>张三</td>
          <td>张三</td>
          <td>张三</td>
          <td>2016-07-01</td>
          <td>中期通过</td>
          <td><div class="button-group"> <a class="button border-main" href="ProjectProcess.html" style="padding: 4px 8px;">项目过程</a> 
         </tr>
         
         <tr>
          <td>A0001</td>
          <td><font color="#00CC99">地形探测地形探测</font></td>
          <td>张三</td>
          <td>张三</td>
          <td>张三</td>
          <td>张三</td>
          <td>2016-07-01</td>
          <td>中期审核</td>
          <td><div class="button-group"> <a class="button border-main" href="ProjectProcess.html" style="padding: 4px 8px;"> 项目过程</a> 
         </tr>
         <tr>  
          <td>A0001</td>
          <td><font color="#00CC99">地形探测地形探测</font></td>
          <td>张三</td>
          <td>张三</td>
          <td>张三</td>
          <td>张三</td>
          <td>2016-07-01</td>
          <td>中期检查</td>
          <td><div class="button-group"> <a class="button border-main" href="ProjectProcess.html" style="padding: 4px 8px;">项目过程</a> 
         </tr>
        </td>
      </tr>
      <tr>
        <td colspan="8"><div class="pagelist"> <a href="">上一页</a> <span class="current">1</span><a href="">2</a><a href="">3</a><a href="">下一页</a><a href="">尾页</a> </div></td>
      </tr>
    </table>
    </div>
    </div>
  </div>
</form>
<script type="text/javascript">

//搜索
function changesearch(){	
		
}

//单个删除
function del(id,mid,iscid){
	if(confirm("您确定要删除吗?")){
		
	}
}

//全选
$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

//批量删除
function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false;		
		$("#listform").submit();		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}
</script>
</body>
</html>